<%= render "shared/header" %>
<div class='main'>

  <div class='title-contents'>
    <h2 class='service-title'>
      学ぶって楽しい
    </h2>
    <p class='service-explain'>
      eSCHOOLはだれでもどこでも学ことができるアプリです
    </p>
  </div>

  <div class='item-contents'>
    <h2 class='title'>New Section</h2>
    <%= link_to '本日のオススメ授業', "#", class: "subtitle" %>
    <ul class='item-lists'>

    <% @curriculums.each do |curriculum| %>
       <li class='list'>
        <%= link_to curriculum_path(curriculum.id), method: :get do %>
        <div class='item-img-content'>
          <%= image_tag curriculum.image, class: "item-img" %>
        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= curriculum.class_name %> 
          </h3>
        </div>
        <% end %>
        <div class='item-price'>
            <%= link_to "#{curriculum.category.name}", "#" %>
          </div>
       </li>
      <% end %>
    </ul>
  </div>
</div>
<%= render "shared/footer" %>