<div class='footer'>
  <div class='footer-contents'>
    <div class='furima-details'>
      <h2 class='footer-content-head'>Let's study</h2>
      <ul>
        <ul>
        <li><%= link_to '金融', "#", class: "footer-link" %></li>
        <li><%= link_to '歴史', "#", class: "footer-link" %></li>
        <li><%= link_to 'デザイン', "#", class: "footer-link" %></li>
        <li><%= link_to '音楽', "#", class: "footer-link" %></li>
        <li><%= link_to 'プログラミング', "#", class: "footer-link" %></li>
        <li><%= link_to '性教育', "#", class: "footer-link" %></li>
      </ul>
      </ul>
    </div>
    <div class='furima-details'>
      <h2 class='footer-content-head'>eSCHOOLプレミアム会員サービス</h2>
      <ul>
        <li><%= link_to 'LIVE配信', "#", class: "footer-link" %></li>
        <li><%= link_to 'プレミアム会員サービスについて', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='furima-details'>
      <h2 class='footer-content-head'>eSCHOOLについて</h2>
       <ul>
        <li><%= link_to '会社概要（運営会社)', "#", class: "footer-link" %></li>
        <li><%= link_to 'プライバシーポリシー', "#", class: "footer-link" %></li>
        <li><%= link_to 'eSCHOOL利用規約', "#", class: "footer-link" %></li>
        <li><%= link_to 'eSCHOOLガイド', "#", class: "footer-link" %></li>
        <li><%= link_to 'お知らせ', "#", class: "footer-link" %></li>
      </ul>
    </div>
  </div>
  <%= link_to image_tag('furima-logo-color.png' , size: '100x100'), "/" %>
  <p>© eSCHOOL</p>
</div>