<div class='footer'>
  <div class='footer-contents'>
    <div class='furima-details'>
      <h2 class='footer-content-head'>Let's study</h2>
      <ul>
       <ul>
        <li><%= link_to 'プログラミング', "#", class: "footer-link" %></li>
        <li><%= link_to 'デザイン', "#", class: "footer-link" %></li>
        <li><%= link_to '金融', "#", class: "footer-link" %></li>
        <li><%= link_to 'メンタル', "#", class: "footer-link" %></li>
        <li><%= link_to '音楽', "#", class: "footer-link" %></li>
        <li><%= link_to '語学', "#", class: "footer-link" %></li>
        <li><%= link_to '歴史', "#", class: "footer-link" %></li>
        <li><%= link_to '政治', "#", class: "footer-link" %></li>
        <li><%= link_to 'その他', "#", class: "footer-link" %></li>
        <li><%= link_to 'LIVE配信', "#", class: "footer-link" %></li>
       </ul>
      </ul>
    </div>
  </div>
</div>